.base-element () {
  margin: 0.2em 0.1em; 
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
}

.computation {
  margin-left: 1em;
  margin-top: 3em;  
  display: inline-table;
}

.number {
  .base-element;
  background-color: rgb(168, 226, 248);
}

.operator {
  .base-element;
}

.comparator {
  .base-element;  
}

.comment {
  .base-element;
  color: rgb(196, 196, 196);
}

.eval {
  .base-element;
  color: rgb(196, 196, 196);
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3em;
  display: block;
}

.statement-container {
  display: inline-table;
}

.statement {
  padding: 0.7em 0.2em;
}

.fake-element {
  color: rgb(196, 196, 196); 
  background-color: transparent;    
}

.fake-element.number {
}

.error {
  background-color: rgb(255, 163, 163);
}
