.base () {
  margin-top: 0.2em; 
  margin-bottom: 0.2em; 
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
}

.computation {
  margin-top: 3em;  
}

.number {
  .base;
  background-color: rgb(168, 226, 248);
}

.operator {
  .base;
}

.comparator {
  .base;  
}

.comment {
  .base;
  color: rgb(196, 196, 196);
}

.eval {
  .base;
  color: rgb(196, 196, 196);
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0em;
}

/*.comparator {
  .base;
  color: rgb(196, 196, 196);  
  display: inline-block;
}*/

.statement-container {
  display: inline-block;
  margin-left: 1em;
}

#result {
  .base;
  background-color: rgb(127, 253, 137);
}

.error {
  background-color: rgb(255, 163, 163);
}
