.error {
  background-color: #ffa3a3;
}
.comparator.error {
  background-color: #fbffa3;
}
h1 {
  margin-top: 0.5em;
  margin-left: 1em;
  font: 4em Verdana, Arial, sans-serif;
  font-variant: small-caps;
}
.computation {
  height: 80px;
  margin-left: 5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: inline-table;
}
.number {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
  background-color: #a8e2f8;
}
.operator {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
}
.comparator {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
}
.comment {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
  color: #c4c4c4;
}
.eval {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
  color: #c4c4c4;
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1em;
  padding-top: 0.2em;
  display: block;
  border-color: #c4c4c4;
  border-top-width: 1px;
  border-top-style: solid;
}
.statement-container {
  display: inline-table;
}
.statement {
  padding: 0.7em 0.2em;
}
.fake-statement-container {
  display: inline-table;
}
.fake-element {
  color: #c4c4c4;
  background-color: transparent;
}
footer {
  margin-top: 3em;
  text-align: right;
  width: 550px;
}
footer p {
  line-height: 0.7em;
}
