.computation {
  margin-left: 1em;
  margin-top: 3em;
  display: inline-table;
}
.number {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
  background-color: #a8e2f8;
}
.operator {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
}
.comparator {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
}
.comment {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
  color: #c4c4c4;
}
.eval {
  margin: 0.2em 0.1em;
  width: auto;
  font-size: 2.5em;
  line-height: 1em;
  padding: 0em 0.1em;
  color: #c4c4c4;
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3em;
  display: block;
}
.statement-container {
  display: inline-table;
}
.statement {
  padding: 0.7em 0.2em;
}
.fake-element {
  color: #c4c4c4;
  background-color: transparent;
}
.error {
  background-color: #ffa3a3;
}
