.computation {
  margin-top: 3em;
}
.number {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
  background-color: #a8e2f8;
}
.operator {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
}
.comparator {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
}
.comment {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
  color: #c4c4c4;
}
.eval {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
  color: #c4c4c4;
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0em;
}
/*.comparator {
  .base;
  color: rgb(196, 196, 196);  
  display: inline-block;
}*/
.statement-container {
  display: inline-block;
  margin-left: 1em;
}
#result {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  width: auto;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1em;
  background-color: #7ffd89;
}
.error {
  background-color: #ffa3a3;
}
